@page "/educational"
@using Microsoft.AspNetCore.Components.Forms;
@inject ILogger<WorkHistoryPage> Logger
@inject IJSRuntime JS
@inject NavigationManager NavigationManager

<style>
    .wrapper {
        height: 100vh;
        width: 100%;
    }

    .nav {
        height: 10vh;
        background-color: lightgrey;
        width: 100%;
        display: flex;
    }

    .main-body {
        height: 90vh;
        width: 100%;
    }

    .progress-div {
        margin-top: 2.5%;
        height: 10%;
        margin-bottom: 2.5%;
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        display: flex;
    }

    .progress-img {
        height: 100%;
        width: 10%;
        text-align: center;
    }

    .progress-line {
        height: 100%;
        width: 20%;
        text-align: center;
    }

    .form-div {
        height: auto;
        margin-bottom: 5%;
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }

    .main-form {
        height: 83.5%;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2.5%;
        background-color: lightgrey;
        border: black 1px solid;
    }

    .div-buttons {
        margin-top: 1%;
        height: 10%;
        display: flex;
        align-content: center;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;
    }

    .form-group-first {
        margin-top: 5%;
        width: 40%;
        margin-left: 5%;
        margin-right: 2.5%;
    }

    .form-group-others {
        width: 40%;
        margin-left: 5%;
        margin-right: 2.5%;
    }

    .form-group-text-area {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .form-control-style {
        border: 2px darkgrey solid;
    }

    .form-control-text-area {
        border: 2px darkgrey solid;
        height: 400px;
        width: 100%;
    }

    .btn-previous {
        height: 100%;
        width: 60%;
        margin-left: 30%;
        margin-right: 10%;
        background-color: #22577A;
        border: transparent;
        border-radius: 10px;
    }

    .btn-next {
        height: 100%;
        width: 60%;
        margin-left: 10%;
        margin-right: 30%;
        background-color: #0B8457;
        border: transparent;
        border-radius: 10px;
    }

    .buttondivs {
        height: 80%;
        width: 50%;
        margin-bottom: 20%;
        border: none;
        color: white;
    }

        .buttondivs:hover {
            text-decoration: none;
        }

    .add-button-div {
        height: 10%;
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
        border: none;
        display: flex;
    }

    .add-button {
        width: 80px;
        margin-left: 35%;
        margin-right: 35%;
        height: 100%;
        border: transparent;
        border-radius: 10px;
        background-color: #28ABB9;
        color: white;
    }

    h1 {
        font-family: SigmarOne;
        font-size: 30px;
        text-align: center;
    }

    .material-icon {
        font-size: 50px;
        text-align: center;
        margin: 0;
    }

    .material-line {
        font-size: 50px;
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: 0;
        height: 100%;
        background-color: maroon;
    }

    .no-material-line {
        font-size: 50px;
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: 0;
        background-color: white;
    }

    .material-color {
        font-size: 50px;
        text-align: center;
        margin: 0;
        color: purple;
    }

    .material-none {
        font-size: 50px;
        text-align: center;
        margin: 0;
    }

    .no-form-icon {
        color: lightgrey;
    }

    .form-icon {
        color: black;
    }

    .labels-div {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5px;
        display: flex;
        height: 30px;
    }

    label {
        margin-top: 5px;
        color: black;
        font-family: Calibri;
        font-size: 15px;
    }

    .mini-label1 {
        width: 40%;
        display: inline-block;
        margin-right: 9%;
        margin-left: 1%;
    }

    .mini-label2 {
        display: inline-block;
        width: 40%;
        margin-left: 4.5%;
    }

    h2 {
        text-decoration: none;
        font-family: Arial;
        font-size: 20px;
    }

    h3 {
        font-family: SigmarOne;
        font-size: 20px;
    }
</style>

<div class="wrapper">
    <div class="nav">
        <NavMenu/>
    </div>
    <div class="main-body">
        <div class="progress-div">
            <div class="progress-img">
                <i class="fa fa-user-circle material-none"></i>
            </div>
            <div class="progress-line"></div>
            <div class="progress-img">
                <i class="fa fa-graduation-cap material-color"></i>
            </div>
            <div class="progress-line"></div>
            <div class="progress-img">
                <i class="fa fa-briefcase material-none"></i>
            </div>
            <div class="progress-line">
            </div>
            <div class="progress-img">
                <i class="fa fa-laptop material-none"></i>
            </div>
        </div>
        <div class="form-div">
            <h1>Education</h1>
            <EducationForm />
            <div class="add-button-div">
                <button class="add-button" @onclick="addNewDiv">Add</button>
            </div><br />

            @for (int i = 0; i < forms.Count; ++i)
            {
                @forms[i];
                <div class="add-button-div">
                    <button class="add-button" @onclick="addNewDiv">Add</button>
                    <button class="add-button" @onclick="(()=>removeDiv(i-1))">Remove</button>
                </div><br />

            }
            <form class="div-buttons">

                <NavLink class="buttondivs" href="/personal-details">
                    <div class="btn-previous">
                        <h2 class="nav-item">Previous</h2>
                    </div>
                </NavLink>
                <NavLink class="buttondivs" href="/work-history">
                    <div class="btn-next">
                        <h2 class="nav-item">Next</h2>
                    </div>
                </NavLink>

            </form>
        </div>
    </div>
    
</div>
@code{
    private async Task OnAfterRenderAsync()

    {
        await JS.InvokeVoidAsync("addDiv");
    }

    List<RenderFragment> forms = new List<RenderFragment>();

    private const string EducationFormstr = "<EducationForm />";
    public EducationForm EducationForm = null;

    private void addNewDiv()
    {

        forms.Add(
            new RenderFragment(builder =>
            {
                builder.OpenComponent<EducationForm>(0);
                builder.AddComponentReferenceCapture(0, inst => { EducationForm = (EducationForm)inst; });
                builder.CloseComponent();
            })
        );
    }
    private void removeDiv(int index)
    {

        if (index < forms.Count)
        {
            forms.RemoveAt(index);
        }

    }
}
